:root {
    --branding-color: #EEC8F4;
    --primary-color: #66177F;
    --secondary-color: black;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1, h2, h3{
    color: var(--secondary-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 30px;
    line-height: 1.5;
}


p {
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
}

h2 {
    font-size: 50px;
}

img {
    padding: 30px;
}


.intro {
    background: var(--branding-color);
    text-align: center;
    padding: 100px 20px;
}

.intro p {
    font-size: 30px; 
    margin: 0;
}

.intro h2 {
    font-family: "poppins", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.about-header {
   padding: 16px 12px; 
}

.about-header h1 {
   font-size: 64px;
   line-height: 80px; 
}

.about-header h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.about-header-content {
    margin: 30px;
}

.btn-branding {
    background: var(--primary-color);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 14px 26px;
}

.btn-branding:hover {
    color: black;
}

.project-description {
  padding: 120px 60px;  
}

.btn-branding-outline {
    
    background: var(--primary-color);
    border: 1px solid var(--branding-color);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    padding: 13px 25px;
}

@media (max-width: 960px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 40px;
    }
.project-description {
    padding: 0;
    text-align: center;
}}

.about-header {
    text-align: center;
    padding: 0;
}

.about-header-content h1 {
    font-size: 54px;
}