h1{
    font-family: 'Playfair Display', serif;
font-weight: bold;
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: 'Poppins', sans-serif;
}

.info {
    background: #6A6A6A;
    text-align: center;
}